// header

.widget{
    background: $light-blue;
    margin-bottom: $l-size;
}

.widget-header{
    background-color: $blue;
    color:$off-white;
    padding: $m-size;
    display:flex;
    justify-content: space-between;
}

.widget-header__title{
    margin:0;
}

.widget-message{
    color:$off-white;
    font-size:$s-size;
    margin:0;
    padding:$m-size;
    text-align:center;
    border-bottom: 1px solid darken($light-blue, 10%);
}