// colors

$off_black: #20222b;
$off_white:#a5afd7;
$dark_blue:#333745;
$light-blue:#464b5e;
$purple: #8357c5;
$blue:#3c4251;
$desk-break:45rem;

$m-size:3.2rem;
$b-size:1.1rem;
$s-size:1.6rem;
$l-size:4.8rem;
